.wrapper {
    position: fixed;
    top: 80px;
    right: -100%;
    height: 100%;
    width: 100%;
    background: hsl(270, 9%, 17%);
    transition: all 0.6s ease-in-out;
    z-index: 999999999999;
}

.wrapper img {
    width: 100%;
    position: absolute;
    bottom: 40px;
}

#active:checked~.wrapper {
    right: 0;
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid hsl(270, 9%, 17%);
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
    transform: translateY(-8px);
}

.menu-btn:after {
    transform: translateY(8px);
}

.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}


/* closing animation */

#active:checked+.menu-btn span {
    transform: scaleX(0);
}

#active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: hsl(270, 9%, 17%);
}

#active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: hsl(270, 9%, 17%);
}

.wrapper ul {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    height: 10%;
    margin: 20px auto;
}

.wrapper ul li a {
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 700;
    padding: 10px 50px;
    color: #fff;
    border-radius: 0px;
    line-height: 50px;
    margin: 5px auto;
    opacity: 0;
    transition: all 0.3s ease;
    transition: border .3s linear;
}

.wrapper ul li a:hover {
    color: #fff;
    border: solid #fff 2px;
}

input[type="checkbox"] {
    display: none;
}

#active:checked~.wrapper ul li a {
    opacity: 1;
}

.wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}

#active:checked~.wrapper ul li a {
    transform: none;
    transform: translateX(-100px);
}